.container {
  width: 100%;
  box-sizing: border-box;
  padding: 0 200px;
}

.title {
  font-size: 28px;
  color: #4070f4;
  font-weight: 700;
  margin-bottom: 3.5rem;
  text-align: left;
}

@media screen and (max-width: 1300px) {
  .container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
    box-sizing: border-box;
    padding: 0 100px;
   
  }

  .title{
    font-size: 28px;
    color: #4070f4;
    font-weight: 700;
    margin-bottom: 3.5rem;
    text-align: left;
    
}
  
}

@media screen and (max-width: 1100px) {

  .title{
    font-size: 28px;
    color: #4070f4;
    font-weight: 700;
    margin-bottom: 3.5rem;
    text-align: left;
    
}

.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
  box-sizing: border-box;
  padding: 0 100px;
 
}
 
}

@media screen and (max-width: 900px) {
  .container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
    box-sizing: border-box;
    /* padding: 0 200px; */
   
  }
}

@media screen and (min-width:200px) and (max-width: 700px) {
  .container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
    box-sizing: border-box;
    /* padding: 0 50px; */
    margin-top: 2rem;
   
  }

  .title{
    font-size: 28px;
    color: #4070f4;
    font-weight: 700;
    margin-bottom: 3.5rem;
    text-align: left;
    
}

  
}
